<footer class="site-footer">
  <div class="container footer-content">
    <div>
      <h3>convida</h3>
      <p>Nesta pagina voce vai encontrar os modulos para sua aprendizagem.</p>
    </div>
    <div>
      <h3>Cursos</h3>
      <ul class="footer-links">
        <li><a href="{{ '/cursos/hardware/' | relative_url }}">Hardware</a></li>
        <li><a href="{{ '/cursos/windows/' | relative_url }}">Windows</a></li>
        <li><a href="{{ '/cursos/word/' | relative_url }}">Word</a></li>
        <li><a href="{{ '/cursos/internet/' | relative_url }}">Internet</a></li>
      </ul>
    </div>
    <div>
      <h3>Redes Sociais</h3>
      <ul class="footer-links">
        <li>
          <a
            href="https://www.instagram.com/comvidacupira/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            >YouTube</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
